$black: #000000;
$white: #ffffff;

// Palette
// ---------
$palette: (
    black: $black,
    white: $white,
);

// Schemes colors
// ---------
$schemes-colors: (
    black: (
        background: $black,
        font-color: $white,
    ),
    white: (
        background: $white,
        font-color: $black,
    ),
);

// Some background gradients
// ---------
$gradients: (
    yellow-to-blue-linear: linear-gradient(#f69d3c, #3f87a6),
    yellow-to-blue-radial: radial-gradient(#f69d3c, #3f87a6 50px),
);

// Grid cell sizes
// ---------
$grid-cell-sizes: 5 25 33.3333 75 100;

// Space names
// ---------
$spaces: tiny short normal large wide;

// Library version
// ---------
$version: "42.0";
