$pycssstyleguide-compiler-support: "libsass";

$black: #000000;
$white: #ffffff;
$grey: #404040;

// Palette
// ---------
$palette: (
    "black": $black,
    "white": $white,
    "grey": $grey,
);

// Schemes colors
// ---------
$schemes-colors: (
    "black": (
        "background": $black,
        "font-color": $white,
    ),
    "grey": (
        "background": $grey,
        "font-color": $white,
    ),
    "white": (
        "background": $white,
        "font-color": $black,
    ),
    "grey-gradient": (
        "background": linear-gradient($white, $white 85%, $grey),
        "font-color": $black,
    ),
    "with-image": (
        "background": url("foo/bar.png"),
        "font-color": $black,
    ),
);

$borders: (
    "thin": (
        "size": rem-calc(1px),
        "style": solid,
        "color": white,
    ),
    "normal": (
        "size": rem-calc(3px),
        "style": solid,
        "color": white,
    ),
    "bold": (
        "size": rem-calc(5px),
        "style": solid,
        "color": black,
    ),
);

// Some background gradients
// ---------
$gradients: (
    "yellow-to-blue-linear": linear-gradient(#f69d3c, #3f87a6),
    "yellow-to-blue-radial": radial-gradient(#f69d3c, #3f87a6 50px),
);

// Grid cell sizes
// ---------
$grid-cell-sizes: 5 25 33.3333 75 100;
$grid-cell-total: 5;

// Space names
// ---------
$spaces: tiny short normal large wide;

// Library version
// ---------
$version: "42.0";
