@charset "UTF-8";

@import "settings";

@import "styleguide_helpers";

.styleguide-metas-references{
    --names: "palette schemes grid_cell_sizes";
}

.styleguide-reference-palette{
    --flat: "true";
    --keys: "#{get-names($palette)}";
    --values: "#{get-values($palette)}";
}

.styleguide-reference-schemes {
    --keys: "#{get-names($schemes-colors)}";
    --selector: "#{get-names($schemes-colors, '.bg-')}";
    --value: "#{get-props($schemes-colors, 'background')}";
}

.styleguide-reference-grid_cell_sizes{
    --flat: "true";
    --keys: "#{floor-number-items($grid-cell-sizes)}";
    --values: "#{to-string($grid-cell-sizes, $glue: ' ')}";
}
