/* Helper functions from py-css-styleguide==1.0.0 */
.styleguide-metas-compiler {
  --support: "dartsass";
}

.styleguide-metas-references {
  --auto: "true";
}

.styleguide-reference-palette {
  --structure: "flat";
  --keys: "black white grey";
  --values: "#000000 #ffffff #404040";
}

.styleguide-reference-schemes {
  --structure: "nested";
  --splitter: "object-list";
  --keys: "['black', 'grey', 'white', 'grey-gradient', 'with-image']";
  --selector: "['.bg-black', '.bg-grey', '.bg-white', '.bg-grey-gradient', '.bg-with-image']";
  --background: "['#000000', '#404040', '#ffffff', 'linear-gradient(#ffffff, #ffffff 85%, #404040)', 'url(\u0022foo/bar.png\u0022)']";
  --font_color: "['#ffffff', '#ffffff', '#000000', '#000000', '#000000']";
}

.styleguide-reference-borders {
  --structure: "nested";
  --keys: "thin normal bold";
  --size: "rem-calc(1px) rem-calc(3px) rem-calc(5px)";
  --style: "solid solid solid";
  --color: "white white black";
}

.styleguide-reference-gradients {
  --structure: "object-complex";
  --object: "['linear-gradient(#f69d3c, #3f87a6)', 'radial-gradient(#f69d3c, #3f87a6 50px)']";
}

.styleguide-reference-grid_cell_sizes {
  --structure: "flat";
  --keys: "5 25 33 75 100";
  --values: "5 25 33.3333 75 100";
}

.styleguide-reference-spaces {
  --structure: "list";
  --items: "tiny short normal large wide";
}

.styleguide-reference-version {
  --structure: "string";
  --value: "42.0";
}
