.styleguide-metas-references {
  --names: "palette schemes grid_cell_sizes";
}

.styleguide-reference-palette {
  --structure: "flat";
  --keys: "black white";
  --values: "#000000 #ffffff";
}

.styleguide-reference-schemes {
  --keys: "black white";
  --selector: ".bg-black .bg-white";
  --value: "#000000 #ffffff";
}

.styleguide-reference-grid_cell_sizes {
  --structure: "flat";
  --keys: "5 25 33 75 100";
  --values: "5 25 33.3333 75 100";
}
