.styleguide-metas-references{
    names: "palette schemes";
}

.styleguide-reference-palette{
    flat: "true";
    keys: "black white";
    values: "#000000 #ffffff";
}

.styleguide-reference-schemes{
    keys: "black white";
    selectors: ".bg-black .bg-white";
    values: "#000000 #ffffff";
}
