.styleguide-metas-references {
  --names: "palette text_color spaces columns";
}

.styleguide-reference-palette {
  --structure: "flat";
  --keys: "black white";
  --values: "#000000 #ffffff";
}

.styleguide-reference-text_color {
  --structure: "nested";
  --keys: "black white";
  --selectors: ".bg-black .bg-white";
  --values: "#000000 #ffffff";
}

.styleguide-reference-spaces {
  --structure: "list";
  --items: "tiny short normal large wide";
}

.styleguide-reference-columns {
  --structure: "list";
  --cleaner: "whitespaces";
  --items: "w30   w50 w70  ";
}
